In [1]:
%reload_ext autoreload
%autoreload 2

In [5]:
exec(open('../src/setup_env.py').read())

Directorio del notebook: /mnt/c/Users/alexl/OneDrive/Escritorio/my-version-taxi_demand_predictor/notebooks
Raíz del proyecto: /mnt/c/Users/alexl/OneDrive/Escritorio/my-version-taxi_demand_predictor
Buscando: /mnt/c/Users/alexl/OneDrive/Escritorio/my-version-taxi_demand_predictor/src/data.py
Existe: True
Importado desde: /mnt/c/Users/alexl/OneDrive/Escritorio/my-version-taxi_demand_predictor/src/data.py

In [6]:
from src.data import load_raw_data

rides = load_raw_data(2024)
rides

File 2024-01 was already in local storage
File 2024-02 was already in local storage
File 2024-03 was already in local storage
File 2024-04 was already in local storage
File 2024-05 was already in local storage
File 2024-06 was already in local storage
File 2024-07 was already in local storage
File 2024-08 was already in local storage
File 2024-09 was already in local storage
File 2024-10 was already in local storage
File 2024-11 was already in local storage
File 2024-12 was already in local storage

            pickup_datetime  pickup_location_id
0       2024-01-01 00:57:55                 186
1       2024-01-01 00:03:00                 140
2       2024-01-01 00:17:06                 236
3       2024-01-01 00:36:38                  79
4       2024-01-01 00:46:51                 211
...                     ...                 ...
3668366 2024-12-31 23:32:00                  16
3668367 2024-12-31 23:05:00                 252
3668368 2024-12-31 23:03:16                 181
3668369 2024-12-31 23:15:33                 165
3668370 2024-12-31 23:04:36                 225

[41169300 rows x 2 columns]

In [7]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:56<00:00,  4.71it/s]

             pickup_hour  rides  pickup_location_id
0    2024-01-01 00:00:00      0                   1
1    2024-01-01 01:00:00      0                   1
2    2024-01-01 02:00:00      0                   1
3    2024-01-01 03:00:00      0                   1
4    2024-01-01 04:00:00      0                   1
...                  ...    ...                 ...
8779 2024-12-31 19:00:00      1                 265
8780 2024-12-31 20:00:00      2                 265
8781 2024-12-31 21:00:00      1                 265
8782 2024-12-31 22:00:00      4                 265
8783 2024-12-31 23:00:00      3                 265

[2327760 rows x 3 columns]

In [8]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [04:30<00:00,  1.02s/it]

features.shape=(89570, 674)
targets.shape=(89570,)

In [12]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')

In [13]:
import pandas as pd
from src.paths import TRANSFORMED_DATA_DIR

features_and_targets = pd.read_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')
features_and_targets

,rides_previous_672_hour,rides_previous_671_hour,rides_previous_670_hour,rides_previous_669_hour,rides_previous_668_hour,rides_previous_667_hour,rides_previous_666_hour,rides_previous_665_hour,rides_previous_664_hour,rides_previous_663_hour,...,rides_previous_7_hour,rides_previous_6_hour,rides_previous_5_hour,rides_previous_4_hour,rides_previous_3_hour,rides_previous_2_hour,rides_previous_1_hour,pickup_hour,pickup_location_id,target_rides_next_hour
0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2024-01-29,1,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2024-01-30,1,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2024-01-31,1,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,2024-02-01,1,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2024-02-02,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89565,2.0,2.0,2.0,2.0,1.0,0.0,0.0,2.0,1.0,1.0,...,1.0,5.0,2.0,3.0,9.0,1.0,3.0,2024-12-27,265,4.0
89566,1.0,3.0,4.0,0.0,0.0,2.0,1.0,5.0,4.0,2.0,...,9.0,0.0,0.0,1.0,6.0,4.0,2.0,2024-12-28,265,5.0
89567,7.0,1.0,0.0,3.0,1.0,3.0,1.0,0.0,3.0,3.0,...,1.0,9.0,3.0,2.0,4.0,2.0,5.0,2024-12-29,265,4.0
89568,0.0,2.0,2.0,0.0,1.0,1.0,2.0,1.0,4.0,0.0,...,11.0,1.0,3.0,1.0,2.0,7.0,4.0,2024-12-30,265,8.0
89569,3.0,4.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,3.0,5.0,2.0,0.0,2.0,3.0,8.0,2024-12-31,265,5.0