In [12]:
%reload_ext autoreload
%autoreload 2

In [13]:
from src.data import load_raw_data

rides = load_raw_data(2022, months=[10])
rides

File 2022-10 was already in local storage

            pickup_datetime  pickup_location_id
0       2022-10-01 00:03:41                 249
1       2022-10-01 00:14:30                 151
2       2022-10-01 00:27:13                 238
3       2022-10-01 00:32:53                 142
4       2022-10-01 00:44:55                 238
...                     ...                 ...
3675406 2022-10-31 23:56:35                 137
3675407 2022-10-31 23:22:00                 142
3675408 2022-10-31 23:25:00                 186
3675409 2022-10-31 23:32:54                 264
3675410 2022-10-31 23:21:34                 166

[3675320 rows x 2 columns]

In [14]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:00<00:00, 311.00it/s]

               pickup_hour  rides  pickup_location_id
0      2022-10-01 00:00:00      0                   1
1      2022-10-01 01:00:00      0                   1
2      2022-10-01 02:00:00      0                   1
3      2022-10-01 03:00:00      0                   1
4      2022-10-01 04:00:00      2                   1
...                    ...    ...                 ...
197155 2022-10-31 19:00:00      2                 265
197156 2022-10-31 20:00:00     10                 265
197157 2022-10-31 21:00:00      6                 265
197158 2022-10-31 22:00:00      8                 265
197159 2022-10-31 23:00:00      4                 265

[197160 rows x 3 columns]

In [15]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:01<00:00, 254.84it/s]

features.shape=(795, 674)
targets.shape=(795,)

In [16]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')